@charset "utf-8";
/*移动端样式重置*/
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font-size:.14rem;font-family:sans-serif}
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none;-webkit-user-select:none}
input,select,textarea,button{outline:0;border: none 0;-webkit-appearance:none;}
input[type=button],input[type=submit]{-webkit-appearance:none}
table{border-collapse:collapse;border-spacing:0}
a img,fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
q:after,q:before{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
a,ins{text-decoration:none}
a,input,label,select,textarea{-webkit-tap-highlight-color:transparent}
a{-webkit-touch-callout:none;color: inherit;}
.clearfix:after,.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.fn-hide,.none{display:none}
.fn-left,.fn-right{display:inline}
.fn-left{float:left}.fn-right{float:right}
.fn-ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.fn-contain{margin:auto;position:relative}
.w-50 { width: 50%; }

body {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	font-size: 0.14rem;
}

@media(min-width:640px){
	html{font-size: 200px !important;}
}

.parallax-bg, .parallax-bg2 {
	display: none;
}
.index-img-bg { display: none; }