<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<!-- <meta name="viewport" content="width=320, user-scalable=no, maximum-scale=1.3"> -->
		<title>简检e简家-FAQ</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-moblie-web-app-capable" content="yes" />
		<link rel="stylesheet" href="{{static}}/css/mobase.css" type="text/css" />
		<link rel="stylesheet" href="{{static}}/css/pub.css" type="text/css" />
	</head> 
	<body class="other-container">
		
		<div class="o-part1">
			<h4 class="about-title">使用说明</h4>
			<p class="font12">收到睡眠套件后，请先将设备充满电，然后睡前按照下面步骤进行佩戴使用</p>
			<img src="{{static}}/imgs/shuoming.png" class="o-c-img">
			<div class="tip-container">
				<p class="t-c-icon">检查时请注意：</p>
				<p> — 请勿饮酒</p>
				<p> — 修平指甲，无指甲油</p>
				<p> — 临睡前再佩戴设备，开机、关机</p>
			</div>
		</div>
		<div class="o-part2">
			<h4 class="about-title">费用包含：</h4>
			<div class="tip-container">
				<p> — 睡眠检测服务（含一次性传感器）</p>
				<p> — 临床睡眠呼吸检测报告1份</p>
				<p> — 来回设备邮寄费用</p>
				<p> — 检测设备押金300元（报告生成后退还押金）</p>
			</div>
		</div>
		<div class="o-part3">
			<h4 class="about-title">常见问题：</h4>
			<div class="tip-container">
				<p>Q:什么时候进行佩戴？</p>
				<p>A:临睡前佩戴即可。</p>
				<p>Q:检测需要多少时间？</p>
				<p>A:一整晚，至少2-4小时以上有效睡眠</p>
				<p>Q:选择哪只手进行佩戴？</p>
				<p>A:任意手臂，首选非常用手。</p>
				<p>Q:选什么手指进行佩戴？</p>
				<p>A:首选食指、中指、无名指。</p>
				<p>Q:记录仪在手臂要带的很紧么？</p>
				<p>A:切忌过紧，会影响血液正常流动影响检测结果，不晃动即可。</p>
				<p>Q:如何知道佩戴成功？</p>
				<p>A:指端传感器红灯常亮，记录仪屏幕上正常显示血氧、心率等数值即为佩戴成功。（记录仪在不操作情况下，过段时间屏幕会自动熄灭，属正常情况）</p>
				<p>Q:检测出问题怎么办？</p>
				<p>A:建议去附近专业医院做进一步检查。在上海地区，我们安排了包括仁济医院、新华医院、儿童医院、上海市第九人民医院、中山医院的付费绿色通道，如需要用户可联系我们进行安排预约。</p>
				<p>Q:常用治疗方式有哪些？</p>
				<p>A:建议有医嘱的进行治疗，常见的治疗方式包括：健身减重、戒烟酒、体位疗法（侧卧睡姿）、佩戴口腔矫正器（阻鼾器）、家用呼吸机、手术、药物灯。</p>
				<p>Q:传感灯不亮怎么办？</p>
				<p>A:检查传感器和记录仪是否正确链接，传感器是否尖头向上插紧。</p>
				<p>Q:屏幕显示Error或者No Sensor怎么办？</p>
				<p>A:表示连接不成功，请确认传感器是否正确连接。如不能调整，请联系工作人员。</p>
				<p>Q:检测过程中记录仪和传感器分开怎么办？</p>
				<p>A:可重新连接开机检测，确认记录仪正常工作。次情况发生后出具报告仅供参考。</p>
				<p>Q:孕妇是否可以检测？</p>
				<p>A:可以。</p>
				<p>Q:如果记录仪屏幕是反的怎么办？</p>
				<p>A:为了使用左右手用户，记录仪可以双向显示，轻按记录仪的开机键即可。</p>
				<p>Q:传感器损坏怎么办？</p>
				<p>A:需联系客服另行购买。</p>
				<p>Q:设备人为损失或者遗失怎么办？</p>
				<p>A:设备押金不予退还。</p>
				<p>Q:设备延迟寄回怎么办？</p>
				<p>A:设备签收之日起，72小时内完成检测并寄回设备。由于个人特殊情况无法按时完成检测寄回设备的，请联系18616339126告知延迟交付原因和预计寄回日期。否则按每延迟1天押金20%扣除滞纳金。</p>
				<p>特殊说明</p>
				<p> — 设备签收之日起，72小时内完成检测并寄回设备。由于个人特殊情况无法按时完成检测寄回设备的，请联系18616339126告知延迟交付原因和预计寄回日期。否则按每延迟1天押金20</p>
				<p> — 设备遗失或认为破损，押金不予退还</p>
				<p> — 押金将在报告生成后3-7个工作日退还给您的账户</p>
				<p> — 创安琪因人为破损，需另行购买</p>
			</div>
		</div>
		
		
		<script type="text/javascript" src="{{static}}/js/rem.js"></script>
		<script type="text/javascript" src="{{static}}/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="{{static}}/js/pub.js"></script>
	</body>
</html>