<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<!-- <meta name="viewport" content="width=320, user-scalable=no, maximum-scale=1.3"> -->
		<title>简检e简家-支付失败</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-moblie-web-app-capable" content="yes" />
		<link rel="stylesheet" href="{{static}}/css/mobase.css" type="text/css" />
		<link rel="stylesheet" href="{{static}}/css/pub.css" type="text/css" />
	</head> 
	<body class="result-container">
		<div class="result-icon">
			<img src="{{static}}/imgs/r-fail.jpg">
		</div>
		<p class="r-bold">支付失败！</p>
		<p class="r-p">请尝试重新支付</p>
		<a href="javascript:void(0);" class="result-back-btn">返回</a>

		<script type="text/javascript" src="{{static}}/js/rem.js"></script>
		<script type="text/javascript" src="{{static}}/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="{{static}}/js/pub.js"></script>
	</body>
</html>